@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 

body{
  font-family: "Ballet";
  font-weight: normal;

  background-color: #000826;
}
header{
  background-image: url("../imagens/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer, .bg-blur{
  background: rgba(0, 8, 38, 0.18);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 1px solid rgba(0, 8, 38, 0.05);
}


.messageBox {
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 63);
}
.messageBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}

#messageInput {
  width: 200px;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: white;
}
#messageInput:focus ~ #sendButton svg path,
#messageInput:valid ~ #sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
#sendButton svg {
  height: 18px;
  transition: all 0.3s;
}
#sendButton svg path {
  transition: all 0.3s;
}
#sendButton:hover svg path {
  fill: #3c3c3c;
  stroke: white;
}

.borda{
  border: 1px solid #2d2d2d;
  padding: 7px;
  background-color: #2d2d2d;
}
.borda >a{
  color: rgb(110, 110, 110);
  transition: all 0.3s;
}

.borda >a:nth-child(1):hover,
.borda >a:nth-child(2):hover{
  color: white;
}
.borda >a:nth-child(1):focus,
.borda >a:nth-child(2):focus{
  color: white;
}

.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;

  transition: ease-out 2000s;
}
.modal img{
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.modal .close{
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
video{
  border: 1px solid #ccc;
  background-color: aliceblue;

  width: 100%;
}


@media screen and (max-width: 640px){
  .responsivo-1, .responsivo-2{
    display: none;
  }
  header{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.bg-blur{
  padding: 10px;
}

  main > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .responsive-3{
    margin-left: 10px;
  }
  .responsive-3 > a{
    display: block;
  }
  .responsive-4{margin-right: 10px;}
}